s {
    text-decoration-color: #ff7f00;
}

.features-box h3 {
    margin-left: 10px;
}

.features-box .number, .features-box h3 {
    display: inline-block;
}

.features-box .number {
    color: #ff7f00;
}

.features-box p {
    margin-top: 10px;
}

.title-box i {
    font-size: 80px;
    color: #ff7f00;
}

.bg-led-lamp {
    background: url("../images/led-light.jpg");
    background-size: cover;
    background-color: #222328;
    position: relative;
}

.bg-metal-pan {
    background: url("../images/metal-pan.jpg");
    background-size: cover;
    background-color: #222328;
    position: relative;
}