s {
    text-decoration-color: #ff7f00;
}

.features-box h3 {
    margin-left: 10px;
}

.features-box .number, .features-box h3 {
    display: inline-block;
}

.features-box .number {
    color: #ff7f00;
}

.features-box p {
    margin-top: 10px;
}

.title-box i {
    font-size: 80px;
    color: #ff7f00;
}